html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

html.hard {
  box-sizing: border-box;
  font-size: 10px;
  background: rgba(255, 88, 59, 0.8);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.highscore {
  background: rgba(255, 145, 0, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.highscore.hard {
  background: rgba(255, 99, 72, 0.8);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("https://raw.githubusercontent.com/wesbos/JavaScript30/ce2c7e630b0de1b63f4380888dcd529db7e711f1/30%20-%20Whack%20A%20Mole/dirt.svg")
    bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("https://raw.githubusercontent.com/wesbos/JavaScript30/ce2c7e630b0de1b63f4380888dcd529db7e711f1/30%20-%20Whack%20A%20Mole/mole.svg")
    bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.gamestart {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamestart-button {
  font-size: 8rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  background: transparent;
  border: none;
  width: 170px;
  margin: -20px 0px 0px 0px;
  text-align: center;
}

.gamestart-button:hover {
  cursor: pointer;
}

.gamestart-button:focus {
  outline: none;
}

.gamestart-difficulty {
  font-size: 5rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  background: transparent;
  border: none;
  width: 500px;
  height: 60px;
}

.gamestart-difficulty.hard {
  font-size: 5rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  color: #ffc600;
  background: transparent;
  border: none;
  width: 3500px;
  height: 60px;
}

.gamestart-difficulty:hover {
  cursor: pointer;
}

.gamestart-difficulty:focus {
  outline: none;
  border: none;
}

.gamestart-remain-time {
  font-size: 5rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  background: transparent;
  border: none;
  width: 300px;
  height: 60px;
  text-align: center;
}

.gamestart-remain-time:hover {
  cursor: default;
}
